<template>
  <div id="app">
    <ArticleAdministration msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
// import ArticleAdministration from './components/ArticleAdministration.vue'
const ArticleAdministration = () => import('./components/ArticleAdministration.vue');

export default {
  name: 'ArticleApp',
  components: {
    ArticleAdministration
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
