<template>
  <div id="app">
    <Sales msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
// import Sales from './components/Sales.vue'
const Sales = () => import('./components/Sales.vue');

export default {
  name: 'SalesApp',
  components: {
    Sales
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
